*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; ;
    color: #00008B;
    margin-left:60%;
    margin: 2px;
    padding: 1%;
    
}

#titulo{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; ;
    color: rgba(1, 6, 48, 0.856);
    margin-left: 10%;
    margin:0.5%;
    padding: 1%;
}

#subtitulo{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; ;
    color: rgb(66, 2, 2);
    margin-left: 0.01%;
    margin: 0,03%;
    padding: 1%;
}
fieldset{
    border: 0;
}


body{
    background-color: rgb(241, 242, 245);
    font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: 1em;
    color: rgb(3, 51, 51);
    margin-left: 20%;
    margin-top: 2%;
    background-size: cover;
    
    }

.grupo{
    display: inline-block;
    color: rgba(5, 15, 31, 0.952);
    margin: 1px;
    padding: 0.2em;
    
 }
 input, select, textarea, button{
    border-radius: 5px;
}
.grupo{
    margin-bottom: 1em;
}

.grupo label{
    margin-bottom: 0.2em;
    color: rgba(19, 60, 107, 0.76);
    display: inline-block;
    padding: auto   ;
    
   
}

fieldset.grupo{
    float: left;
    margin-right: 1em;
}

.grupo input[type="text"], .grupo input[type="email"], .grupo select .grupo textarea{
    padding: 0.2em;
    border: 2px solid #b4babe;
    box-shadow: 3px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
   
}   
.grupo select option{
    padding-right: 1em;
}

.grupo input:focus, .grupo select:focus {
    background: cornsilk;
}
.botao{
    font-size: 1.2em;
    background: darkgray;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 97%;
    left: 50%;
    margin-right: -60%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}



